<!DOCTYPE HTML>
<html>
	

    <body>
        <header id ="header">
        <div id ="Team">
            <h1>The Team</h1>
            <p>We are a close team of dedicated developers based out of Purdue University. We are <br>passionate about solving problems for people by providing them with application they <br>can use in their daily lives.</p>
        </div>
        <div id="pictures">    
        <section id = "VJ">
            <a href ="https://www.linkedin.com/in/jiangv"><div id ="VP"></div></a>
            <h2>Vincent Jiang</h2>
            <p>Back-End Development</p>
        </section>
        <section id = "PF">
            <a href ="https://www.linkedin.com/in/peter-farmer-511abaa3"><div id ="PP"></div></a>
            <h2>Peter Farmer</h2>
            <p>Front-End Development</p>
        </section>
        <section id = "AV">
            <a href ="https://www.linkedin.com/in/aneesh-vempaty-4003b892"><div id ="AP"></div></a>
            <h2>Aneesh Vempaty</h2>
            <p>Back-End Development</p>
        </section>

        </div>
        </header>
    </body>
</html>
