<!DOCTYPE HTML>
<html>
    <head>
        <title>Chatbox</title>
        <!--<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
       <link rel="stylesheet" href="assets/css/main.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,700" rel="stylesheet"> -->
    </head>
    <body>
        <header id="head">
            <h1><span>chatbox</span></h1>
        </header>
        
        <section id="gallery">
            <h1 class ="module hideme">Get to know your community better <br> with ChatBox</h1>
                <section class="module hideme">
                    <img src="img/Screen%20Shot%202016-12-05%20at%206.39.56%20AM.png">
                    <img src="img/Screen%20Shot%202016-12-05%20at%206.40.21%20AM.png">
                    <img src="img/Screen%20Shot%202016-12-05%20at%206.40.50%20AM.png">
                </section>
            <div class ="module hideme"><span><strong>Our Vision</strong></span><br>With this beautifully designed web application, you'll be able to communicate to your <br>community with ease. ChatBox started with the simple idea of <strong>connecting people</strong> within <br>communities. With Chatbox, you will be able to find new people, groups, activities, <br>and more. This can be achieved with just a message into the chat. </div>
                <div class ="module hideme">We are excited to deliever this to you with an elegantly crafted <br>chat design to make your experience better and more personal. We want you to <br>focus on getting to know your community. </div>
                
        </section>
        <section id="about">
            <p class="module hideme">We are a close team of dedicated developers based out of Purdue University. We are passionate <br>about using cutting-edge technology and developing innovative video games.</p>
            <p class="module hideme"><a href=""><span>Learn more about us</span></a></p>
        </section>
        <section id="footer">
            <h1 class="module hideme">Click <a href ="">here</a> to check it out!</h1>
            <h2 class="module hideme">Copyright © 2016 All Rights Reserved</h2>
        </section>
    </body>

</html>